{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
        </a>

        <article class="error404 article">
            <div class="content">
                <h3>Work in Progress ...</h3>
                <p></p>
                <p>Essa página está em construção!</p>
                <p>Por favor selecione um dos posts abaixo ou volte para a <a href="{{ "/" | relLangURL}}"> Homepage</a>.</p>
            </div>
        </article>
    </div>
</div>
{{ end }}
