{{ if and .Site.Params.permanentTopNav .Site.Params.stickyNav }}
    <nav class="permanentTopNav sticky">
{{ else if eq .Site.Params.permanentTopNav true }}
    <nav class="permanentTopNav">
{{ else }}
    <nav>
{{ end }}
    <div class="container">
        <ul class="topnav">
            <li><a href="">Blog</a></li>
            <li><a href="">Projetos Pessoais</a></li>
            <li><a href="">Tech Stack</a></li>
            <li><a href="">Quem Somos</a></li>
        </ul>

        {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
        <div id="search-box" class="search">
            <i class="fas fa-search"></i>
            <input id="search" type="text" placeholder="{{ i18n "search" }}">
        </div>
        {{ end }}
    </div>
</nav>
