{{ if and .Site.Params.permanentTopNav .Site.Params.stickyNav }}
    <nav class="permanentTopNav sticky">
{{ else if eq .Site.Params.permanentTopNav true }}
    <nav class="permanentTopNav">
{{ else }}
    <nav>
{{ end }}
    <div class="container">
        <ul class="topnav">
            <li><a href="{{ .Site.BaseURL | relLangURL}}">Blog</a></li>
            <li><a href="{{ "404.html" | relLangURL}}">{{i18n "personalProjects"}}</a></li>
            <li><a href="{{ "404.html" | relLangURL}}">Tech Stack</a></li>
            <li><a href="{{ "tags/quem-somos" | relLangURL}}">{{i18n "aboutUs"}}</a></li>
            {{ if and (gt .Site.Languages 1) (.Site.Params.showHeaderLanguageChooser | default true) }}
                {{- $.Scratch.Set "language" .Language -}}
                <li>
                {{ range $.Site.Home.AllTranslations }}
                    {{ if eq ($.Scratch.Get "language") .Language }}
                        <a style="text-transform: uppercase;" href="{{ .Permalink }}" class="active">{{ .Language }}</a>
                    {{ else }}
                        <a style="text-transform: uppercase;" href="{{ .Permalink }}">{{ .Language }}</a>
                    {{ end }}
                {{ end }}
                </li>
                {{ end }}
        </ul>

        {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
        <div id="search-box" class="search">
            <i class="fas fa-search"></i>
            <input id="search" type="text" placeholder="{{ i18n "search" }}">
        </div>
        {{ end }}
    </div>
</nav>
